div.img_left
{
  margin: 2px;
  border: 1px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}	
div.img_left img_left
{
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
}
div.img_left a:hover img_left {border: 1px solid #0000ff;}
div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 2px;
}