html,body {
height:100%;
}

div.img_left
{
  margin: 2px;
  border: 1px solid #0000ff;
  height: 100%;
  width: 49%;
  float: left;
  text-align: center;
}	
div.img_left img_left
{
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
}
div.img_left a:hover img_left {border: 1px solid #0000ff;}
div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 2px;
}

.page{
	background-image:url('/images/page2.jpg ');
	-moz-box-shadow:0px 1px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 1px 4px rgba(0,0,0,0.5);
	-o-box-shadow:0px 1px 4px rgba(0,0,0,0.5);
	box-shadow:0px 1px 4px rgba(0,0,0,0.5);
	margin-top:10%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom :10%;
    overflow:auto;
    display: block;
    
}

.home-section{
	margin-top:10%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:10%;
}
